<div class="ps-review">
    <div class="ps-review__thumbnail"><img src="images/user/1.jpg" alt=""></div>
    <div class="ps-review__content" style="width: 85%;
    margin-top: 27px;">
      <header>
        <div class="br-wrapper br-theme-fontawesome-stars"><select class="ps-rating" style="display: none;">
          <option value="1">1</option>
          <option value="1">2</option>
          <option value="1">3</option>
          <option value="1">4</option>
          <option value="5">5</option>
        </select><div class="br-widget"><a href="#" data-rating-value="1" data-rating-text="1" class="br-selected br-current"></a><a href="#" data-rating-value="1" data-rating-text="2" class="br-selected br-current"></a><a href="#" data-rating-value="1" data-rating-text="3" class="br-selected br-current"></a><a href="#" data-rating-value="1" data-rating-text="4" class="br-selected br-current"></a><a href="#" data-rating-value="5" data-rating-text="5" class=""></a><div class="br-current-rating">1</div></div></div>
        <p>By<a href="#"> Alena Studio</a> - November 25, 2017</p>
      </header>
      <p >{{Review}}</p>
    </div>
  </div>